<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Button Web Component</title>
		<link rel="stylesheet" type="text/css" href="button.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata">
	</head>

	<body>
		<h3>A Basic Button</h3>
		<div class="button"><span>Buy Now</span></div>

		<h3>A Button Element With the Button Class</h3>
		<button class="button">Send Mail</button>

		<h3>An Anchor With a Button Class</h3>
		<a href="#" class="button">Search</a>

		<h3>Buttons of Different Sizes</h3>
		<div class="button button-sm">A Small Button</div>
		<div class="button button-md">A Medium Button</div>
		<div class="button button-lg">A Large Button</div>
	</body>
</html>